<div class="qpl-grid">
  <mat-form-field>
    <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Search...">
  </mat-form-field>
  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="isQualified">
      <mat-header-cell *matHeaderCellDef mat-sort-header> QPL </mat-header-cell>
      <mat-cell *matCellDef="let part"> {{part?.isQualified === true ? 'Yes' : 'No'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="partNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Part Number </mat-header-cell>
      <mat-cell *matCellDef="let part"> {{part?.partNumber}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="partName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Part Name </mat-header-cell>
      <mat-cell *matCellDef="let part"> {{part?.partName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="revision">
      <mat-header-cell *matHeaderCellDef> Part Revision </mat-header-cell>
      <mat-cell *matCellDef="let part"> {{part?.revision}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="toolDieSetNumber">
      <mat-header-cell *matHeaderCellDef> Tool / Die Set Number </mat-header-cell>
      <mat-cell *matCellDef="let part"> {{part?.toolDieSetNumber}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="openPo">
      <mat-header-cell *matHeaderCellDef> Open PO </mat-header-cell>
      <mat-cell *matCellDef="let part"> {{part?.openPo === true ? 'Yes' : 'No'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="supplierName">
      <mat-header-cell *matHeaderCellDef> Supplier Name </mat-header-cell>
      <mat-cell *matCellDef="let part"> {{part?.supplierName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="supplierCode">
      <mat-header-cell *matHeaderCellDef> Supplier Company Code </mat-header-cell>
      <mat-cell *matCellDef="let part"> {{part?.supplierCode}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="jurisdiction">
      <mat-header-cell *matHeaderCellDef> Part Jurisdiction </mat-header-cell>
      <mat-cell *matCellDef="let part"> {{part?.jurisdiction}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="classification">
      <mat-header-cell *matHeaderCellDef> Part Classification </mat-header-cell>
      <mat-cell *matCellDef="let part"> {{part?.classification}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ctq">
      <mat-header-cell *matHeaderCellDef> CTQ </mat-header-cell>
      <mat-cell *matCellDef="let part"> {{part?.ctq === true ? 'Yes' : 'No'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="qplExpirationDate">
      <mat-header-cell *matHeaderCellDef> QPL Expires Date </mat-header-cell>
      <mat-cell *matCellDef="let part"> {{part?.qplExpirationDate | date: 'shortDate'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastUpdatedBy">
      <mat-header-cell *matHeaderCellDef> QPL Last Updated By </mat-header-cell>
      <mat-cell *matCellDef="let part"> {{part?.lastUpdatedBy}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastUpdatedDate">
      <mat-header-cell *matHeaderCellDef> QPL Last Updated Date </mat-header-cell>
      <mat-cell *matCellDef="let part"> {{part?.lastUpdatedDate | date: 'shortDate'}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
