.navbar {
    justify-content: space-between;
}

li a {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #ccc;
}

a.active {
    color: lightgoldenrodyellow;
}

span {
    padding-right: 2rem;
}

.qpl-grid {
    margin: 1rem auto;
    width: 96%;
}
body > app-root > ng-component > div > mat-table > mat-header-row,
.mat-header-row {
    background-color: #ddd;
}
