html, body { height: 100%; }

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

span {
    padding-right: 2rem;
}

li a {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #ccc;
}

a.active {
    color: lightgoldenrodyellow;
}

.mat-header-row {
    background-color: #efefef;
}

.navbar {
    justify-content: space-between;
}

.mat-form-field-infix {
    background-color: #fff;
}

.mat-paginator {
    background-color: #efefef;
}

.qpl-grid {
    margin: 1rem auto;
    width: 98%;
}

.qpl-grid,
.mat-header-row {
    border-top: 1px #fff solid;
}
